.footerMainInfo {
  background-color: #1F3971 ;
  padding: 60px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Default: 4 columns layout */
.column {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 20px;
  min-width: 240px;
  text-align: left;
}
@media (max-width: 1200px) {
  .container {
    padding: 0px;
  }
}
/* Two columns (2 per row) layout for screens below 993px */
@media (max-width: 993px) {
  .container {
    justify-content: center;
  }
  
  .column {
    width: 45%; /* Each row has two columns */
    text-align: left;
  }
}

/* Single column layout for screens below 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 70%; /* Keeps alignment consistent with SubscribeComponent */
  }

  .column {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}
