.subscribeSection {
  background: #1F3971 ;
  color: var(--bs-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid #4b5b7d;
  padding-top: 45px;
  padding-bottom: 40px;
  text-align: left;
  justify-content: center;
  // padding: 60px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 70px;
  margin: 0  auto;
  flex-wrap: wrap;
}

.subscribeInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
  align-items: center;
  

  h3 {
    font-size: 21px;
    color: white;
    font-weight: 700;
  }

  h2 {
    font-size: 25px;
    color: white;
    font-weight: 700;
  }
}

.subscribeForm {
  width: 50%;
  display: flex;
  justify-content: flex-start;

  .subscribeFormIput {
    display: flex;
    width: 100vw;
    max-width: 400px;
    border: 1px solid var(--bs-gray-400);
    overflow: hidden;

    input {
      width: 70%;
      font-size: 16px;
      border: none;
      background-color: white;
      color: gray;
      height: auto;
    }

    button {
      width: 40%;
      padding: 12px 15px;
      font-size: 16px;
      font-weight: bold;
      color: var(--bs-white);
      background-color: orange;
      border: none;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: rgb(209, 145, 26);
      }
    }
  }
}
@media (max-width: 1700px) {
  .container {
    padding-left: 260px;
  }
  .subscribeInfo{
    align-items: flex-start;
  }
  }
@media (max-width: 1600px) {
.container {
  padding-left: 230px;
}
.subscribeInfo{
  align-items: flex-start;
}
}
@media (max-width: 1500px) {
  .container {
    padding-left: 200px;
  }
  .subscribeInfo{
    align-items: flex-start;
  }
  }

@media (max-width: 1500px) {
  .container {
    padding-left: 180px;
  }
  .subscribeInfo{
    align-items: flex-start;
  }
  }
  @media (max-width: 1400px) {
    .container {
      padding-left: 100px;
    }
    .subscribeInfo{
      align-items: flex-start;
    }
    }

  @media (max-width: 1300px) {
    .container {
      padding-left: 80px;
    }
    .subscribeInfo{
      align-items: flex-start;
    }
    }

    @media (max-width: 1350px) {
      .container {
        padding-left: 70px;
      }
      .subscribeInfo{
        align-items: flex-start;
      }
      }
      @media (max-width: 1250px) {
        .container {
          padding-left: 60px;
        }
        .subscribeInfo{
          align-items: flex-start;
        }
        }
        @media (max-width: 1040px) {
          .container {
            padding-left: 90px;
          }
          .subscribeInfo{
            align-items: flex-start;
          }
          }

@media (max-width: 991px) {
  .container {
    padding-left: 90px;
  }
  .subscribeInfoWrapper {
    width: 70%;
    margin-left: 0;
  }

  .subscribeForm {
    .subscribeFormIput {
      max-width: 340px;
    }
  }
}

@media (max-width: 767px) {
  .container{
    width: 90%;
    flex-direction: column;
    text-align: left;
    margin-left: 0 auto;
  }
  .subscribeSection {
    flex-direction: column;
    text-align: left;
    justify-items: center;
    align-items: center;
  }
  .subscribeInfoWrapper {
    margin-left: 0;
  }
  .subscribeForm {
    width: 60%;
    margin-left:0 auto;
  }
}

@media (max-width: 600px) {
  .container{
    width: 95%;
  }
}
@media (max-width: 500px) {
  .container{
    width: 100%;
  }
}