.footerData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1rem;
  margin-top: 10px;
}

.socialIcons {
  display: flex;
  gap: 10px; // Adds spacing between icons
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px; 
  background-color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.socialIcons a:hover {
  background-color: orange;
}

.socialIcons i {
  font-size: 24px;
  color: #2d3e50;;
}
