.footerSingleBlock {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.footerImage {
  max-width: 150px; // Adjust size as needed
  height: auto;
  display: block;
  margin: 0 auto; // Centers the image
  object-fit: contain;
}

.title {
  width: 300px;
  height: 200px;
  font-size: 1.2rem;
  font-weight: bold;
}
